#===============edx - main repo ignores===============
#ignore course notes, npm installs, testing files/folders
*_course*
*node_modules
*test.*

#===============intro_nodejs===============
#output files created from module1_tutorial
4cb141a0-80d3-11e8-8ea5-75a2088f2575
bc49dfe0-80c9-11e8-85b1-7129e7b3b966

#===============intro_reactjs===============
./intro_reactjs/module1_labs/module1_assignment/vehicle-data.json

#===============mongodb_basics===============
#ignore all
./mongodb-basics